<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График товара</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>График цен на товар</h1>

    <form method="post">
        {% csrf_token %}
        <label for="product">Продукт:</label>
        <input type="text" name="product" id="product" value="{{ product }}">

        <label for="x_axis">Выберите ось X:</label>
        <select name="x_axis" id="x_axis">
            <option value="upload_date" {% if request.POST.x_axis == 'upload_date' %}selected{% endif %}>Дата загрузки</option>
            <option value="company" {% if request.POST.x_axis == 'company' %}selected{% endif %}>Компания</option>
            <!-- Добавьте другие поля для оси X -->
        </select>

        <label for="y_axis">Выберите ось Y:</label>
        <select name="y_axis" id="y_axis">
            <option value="price" {% if request.POST.y_axis == 'price' %}selected{% endif %}>Цена</option>
            <option value="count" {% if request.POST.y_axis == 'count' %}selected{% endif %}>Количество</option>
            <option value="add_cost" {% if request.POST.y_axis == 'add_cost' %}selected{% endif %}>Дополнительные расходы</option>
            <!-- Добавьте другие поля для оси Y -->
        </select>

        <button type="submit">Фильтровать</button>
    </form>

    {% if product %}
        <h2>График для товара: {{ product }}</h2>

        {% if graph %}
            <div>
                <h3>{{ request.POST.y_axis }} по {{ request.POST.x_axis }}</h3>
                <div>{{ graph|safe }}</div>
            </div>
        {% endif %}
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'audit:home' %}">Вернуться назад</a>
</body>
</html>
